<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <blog>
            <settings>
                <enabled>1</enabled>
                <title>My Blog</title>
                <keywords>blog</keywords>
                <description>Blog description</description>
                <route>blog</route>
            </settings>
        </blog>
    </default>
</config>