<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Hackathon_Blog::blog" title="Hackathon blog" module="Hackathon_Blog" sortOrder="300" parent="Magento_Backend::content_elements" action="hackathon/index" resource="Hackathon_Blog::blog" />
    </menu>
</config>
